<html>
    <style>
        body{
            background-color:blueviolet;
        }
    
    </style>
    <body>
        <h1>Delete Parcel</h1></br>
        <h1>
            <a href="index.html">Add Parcel</a>
        <a href="getparcel.html">List Parcels</a>
        <a href="updateparcel.html">Update Parcel</a>
        <a href="deleteparcel.html">Delete Parcel</a>
        </h1>
    
        <form action="/deleteparcel" method="POST">
    
            Parcel ID <input type="text"  name="id" /> </br>
            <!-- Sender <input type="text"  name="sender" /> </br> -->
            <input type="submit" value="Submit" /> </br>
        </form>
    </body>
</html>