<html>
    <style>
        body{
            background-color: greenyellow;
        }
    
    </style>
    <body>
        <h1>Update Parcel</h1></br>
        <h1>
            <a href="index.html">Add Parcel</a>
        <a href="getparcel.html">List Parcels</a>
        <a href="updateparcel.html">Update Parcel</a>
        <a href="deleteparcel.html">Delete Parcel</a>
        </h1>
    
        <form action="/updateparcel" method="POST">
    
            Parcel ID <input type="text"  name="id" /> </br>
            Update Sender <input type="text"  name="newsender" /> </br>
            Update Address <input type="number"  name="newaddress" /> </br>
            Update Weight <input type="number"  name="newweight" /> </br>
            Update Fragile <input type="text" name="newfragile" /> </br>
            <input type="submit" value="Submit" /> </br>
        </form>
    </body>


</html>